{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ request.site.name }}
            {# djlint:off #}
            {% block title %}{% endblock title %}
            {# djlint:on #}
        </title>
        <link rel="stylesheet" type="text/css" href="" />
        <link rel="canonical" href="https://{{ request.site.domain }}/" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="copyright" content="Dan Jacob {% now "Y" %}" />
        <meta name="htmx-config"
              content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}' />
        <meta name="Cache-Control" content="no-cache" />
        <meta name="keywords" content="chat" />
        <meta name="description" content="chat" />
        <!-- PlayCDN, not for production use! -->
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    </head>
    <body class="mx-auto font-sans text-sm antialiased container-xl scroll-smooth lg:text-base"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="flex flex-col h-screen">
            <div class="grow">
                <div class="relative flex min-h-screen p-2 py-6 mx-auto xl:pt-12 xl:w-11/12">
                    <main class="w-full mx-auto">
                        {# djlint:off #}
                        {% block content %}{% endblock content %}
                        {# djlint:on #}
                    </main>
                </div>
            </div>
        </div>
        {% django_htmx_script %}
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    </body>
</html>
