{% load heroicons %}
<li class="py-3"
    hx-delete="{% url "chatrooms:ping" %}"
    hx-trigger="sse:delete-message-{{ message.pk }}"
    hx-swap="outerHTML">
    <span class="font-semibold{% if message.user == request.user %} text-violet-600{% endif %}">
        @{{ message.user.username }}
    </span>
    {{ message.text }}
    {% if message.user == request.user %}
        <button class="float-right text-red-500 delete-btn"
                hx-swap="none"
                hx-trigger="click"
                hx-delete="{% url "chatrooms:delete_message" message.pk %}">{% heroicon_mini "x-mark" %}</button>
    {% endif %}
</li>
