{% extends "base.html" %}
{% block content %}
    <h1 class="pb-3 mb-3 text-lg font-bold border-b sm:justify-start lg:text-xl xl:text-2xl">{{ room.name }}</h1>
    <div hx-ext="sse"
         sse-connect="{% url "chatrooms:messages_stream" room.pk %}">
        <ul class="mb-6 w-full space-y-3 divide-y divide-solid"
            hx-get="{% url "chatrooms:messages" room.pk %}"
            hx-trigger="sse:new-message">
            {% include "chatrooms/_messages.html" %}
        </ul>
    </div>
    {% include "chatrooms/_message_form.html" %}
{% endblock content %}
